.container{
    padding-block: 40px;
}
/* Header */
.header{
    height: 80px;
    background-color: #fff;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav__list{
    display: flex;
    align-items: center;
    gap: 14px;
}
/*end Header */

/* Banner */
.banner{
    max-width: 100%;
    width: 100%;
    /* height: 721.01px; */
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*end Banner */

/*Form search layout */
.form-search{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.form-search__input{
    width: 100%;
    position: relative;
    height: 50px;
    padding: 13px 16px;
    background-color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.form-search__input input{
    width: 100%;
    height: 100%;
    padding: 13px 16px 13px 44px;
    border-color: transparent;
    border-radius: inherit;
}


.form-search__option{
    width: 271px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 13px 16px;
    justify-content: space-between; 
    margin-right: 12px;
    margin-left: 16px;
    cursor: pointer;
    flex-shrink: 0;
}

.form-search__optionLeft{
    display: flex;
    align-items: center;
    gap: 4px;
}

.form-search__optionLeft span{
    color: var(--gray);
}

.form-search__btn{
    border: none;
    outline: none;
}
/*end Form search layout */

/* course list  */
.suggest-wrap{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.suggest-list{
    display: flex;
    align-items: center;
    gap: 8px;
}

.suggest-item{
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}
/* end course list*/

/* list job */
.job_wrap{
    margin-top: 77px;
}

.job-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-heading-wrap{
    display: flex;
    align-items: center;
    gap: 9px;
}

.job-heading__iconWrap{
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 12.3421px 30px rgba(0, 0, 0, 0.08);
}

.job-heading__icon{
    width: 52.89px;
    height: 52.89px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.job-header__link{
    color: var(--primary);
    font-weight: 500;
    font-size: 18px;
    transition: linear 0.2s;
}

.job-header__link:hover{
    text-decoration: underline;
}

.job-card__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 40px;
}

.job-card__item{
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid transparent;
    transition: linear 0.2s;
}

.job-card__item:hover{
    border-color: var(--primary);
}

.job-card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--light-gray);
}

.job_card__nameWrap{
    display: flex;
    gap: 8px;
}

.job-card__name{
    font-size: 16px;
    font-weight: 500;
}

.job-card__time{
    padding: 4px 16px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #021A84;
    border-radius: 8px;
    color: var(--primary);
}

.job-card__body{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.job-card__body::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50);
    width: 1px;
    height: 16px;
    background-color: var(--light-gray);
}

.job-card__priceText{
    color: var(--dark-primary);
    font-size: 12px;
}

.job-card__priceNumber{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
}

.job-card__priceNumber span{
    color: var(--gray);
    font-weight: 400;
}

.job-card__footer{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.job-card__footerLeft{
    display: flex;
    align-items: center;
    gap: 16px;
}

.job-card__tag{
    padding: 4px 16px;
    border-radius: 8px;
    background-color: var(--background);
    color: var(--dark-primary);
}

.job-card__footerRight{
    padding: 4px 16px;
    border-radius: 8px;
    background-color: var(--secondary);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
/* End list job */

/* Introduce */
.intro-wrap{
    margin-top: 80px;
}

.heading-wrap{
    text-align: center;
}

.sub-heading{
    font-size: 18px;
    color: var(--primary);
}

.intro-card__list{
    margin-top: 40px;
    display: flex;
    gap: 32px;
}

.intro-card__item{
    padding: 32px;
    background: var(--green-gradient);
    border-radius: 16px;
}

.intro-card__item:nth-child(1){
    background: var(--green-gradient);
    color: var(--green-text);
}

.intro-card__item:nth-child(2){
    background: var(--purple-gradient);
    color: var(--dark-primary);
}

.intro-card__item:nth-child(3){
    background: var(--red-gradient);
    color: var(--red-text);
}

.intro-card__img{
    margin-inline: auto;
}

.intro-card__title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
}

.intro-card__desc{
    text-align: center;
    margin-top: 8px;
}
/* end Introduce */

/* Partner */
.partner-wrap{
    margin-top: 80px;
}

.partner-list{
    margin-top: 40px;
    display: flex;
    gap: 60px;
    justify-content: center;
}
/*end Partner */

/* process working */
.process-wrap{
    margin-top: 80px;
}

.process-card__list{
    display: flex;
    gap: 100px;
    margin-top: 40px;
}

.process-card__item{
    flex: 1;
    text-align: center;
}

.process-card__numberWrap{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.process-card__number{
    background-color: var(--gray);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-card__logo{
    margin-top: 16px;
    margin-inline: auto;
}

.process-card__title{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
}

.process-card__desc{
    margin-top: 8px;
    font-size: 14px;
}
/* End process working */

/* sub banner */
.subBanner__wrap{
    margin-top: 114px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(220.53deg, #0CC64B 0%, #26AB5B 76.95%);
}

.subBanner__left{
    padding: 26px 40px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
}

.subBanner__title{
    font-size: 26px;
    font-weight: 700;
}

.subBanner__desc{
    font-size: 18px;
}

.subBanner__right{
    width: 233px;
    padding: 26px 40px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
}
/* End sub banner */

/* footer */
.footer{
    margin-top: 40px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__form{
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer__input{
    padding: 16px;
    min-width: 252px;
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
}

.footer__formBtn{
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #ef463a 0%, #fca939 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.footer_total{
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer_totalItem{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer_totalNumberWrap{
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_totalNumber{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-primary);
    font-weight: 700;
    font-size: 14px;
}

.footer_totalText{
    color: var(--gray);
    font-size: 14px;
}

.footer__body{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 40px;
}

.footer__list{
    display: flex;
    gap: 40px;
}

.footer__item{
    flex: 1;
}

.footer__subLink,
.footer__item p{
    color: var(--gray);
}

.footer__logo{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--light-gray);
}

.footer__socialList{
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer__tittle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.footer__subList{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__subLink{
    transition: linear .2s;
}

.footer__subLink:hover{
    color: var(--primary);
}

.copyright{
    text-align: center;
    color: var(--gray);
}




/* End footer */
